<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label>Usuário:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Lembrar-me:</label>
        <input type="checkbox" name="remember-me"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>
